.contact .container--flex{
    align-items: flex-start;
    text-align: center;
}
.contact-information{
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;  
}
.contact-information .column__title{
    font-family: "Pacifico", cursive;
    font-weight: 100;
}
.contact-information [class*="icon-"]{
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px;
}
.contact-information .social-icon{
    justify-content: flex-start;
    margin-bottom: 10px;
}
.contact-information .social-icon [class*="icon-"]{
    background: gold;
    color: black;
    margin-left: 0;
    margin-right: 15px;
}
.formulario{
    padding: 10px;
    padding-top: 0;
}
.formulario__label, .formulario__input-, .formulario__textarea{
    display: block;
    width: 100%;
}
.formulario__input-txt{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background: gold;
}
.formulario__input-txt::placeholder{
    color: black;
}
.formulario__textarea::placeholder{
    color: black;
}
.formulario__textarea{
    text-align: center;
    background: gold;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}
.formulario__btn{
    border: 3px solid gold;
    cursor: pointer;
    font-size: 1em;
    background: black;
}
.social-icon a{
    margin: auto;
}